.Body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content {
  width: 80%;
  height: 80%;
  max-height: 576px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.Input {
  flex-shrink: 0;
}

@media screen and (max-width: 1100px) {
  .Body {
    align-items: normal;
    padding: 50px 0;
  }

  .Content {
    width: 90%;
    height: auto;
    max-height: none;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: normal;
  }
}
