.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 0;
}

.Logo img {
  width: 60px;
  height: 60px;
}

.Download-button {
  background-color: var(--third-background-color);
  border-radius: var(--second-border-radius);
  padding: 0.2em 0.5em;
  color: inherit;
  font-family: inherit;
  font-size: 25px;
  text-decoration: none;
}

.Download-button:active {
  background-color: var(--first-color);
  box-shadow: 0px 2px 20px 0px var(--first-color);
}

@media (hover: hover) {
  .Download-button:hover {
    background-color: var(--first-color);
    box-shadow: 0px 2px 20px 0px var(--first-color);
  }
}
