@import "./typography.css";

:root {
  --text-color: #ffffff;
  --first-color:#1877f2;
  --second-color: #267ff2;
  --first-background-color: #131921;
  --second-background-color: #1b2530;
  --third-background-color: #212d3b;
  --first-border-radius: 24px;
  --second-border-radius: 10px;
}

body {
  margin: 0;
  font-family: 'Blender Pro', -apple-system, 'Roboto', 'sans-serif', 'serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

.Button {
  border: none;
  border-radius: var(--second-border-radius);
  background-color: var(--third-background-color);
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.Button-hover:active {
  background-color: var(--first-color);
}

@media (hover: hover) {
  .Button-hover:hover {
    background-color: var(--first-color);
  }
}
