.Input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Input-value {
  flex-grow: 1;
}

.Animate-button {
  background-color: var(--first-color);
  border: none;
  border-radius: var(--second-border-radius);
  color: inherit;
  font-family: inherit;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.Animate-button:hover {
  background-color: var(--second-color);
}
