.Script {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.TextInput {
  flex-grow: 1;
}

.Animate-button {
  background-color: #1877f2;
  border: none;
  border-radius: 10px;
  color: inherit;
  font-family: inherit;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.Animate-button:hover {
  background-color: #267ff2;  
}

.Download-button {
  background-color: #1b2530;
  border-radius: 10px;
  padding: 0.2em 0.5em;
  color: inherit;
  font-family: inherit;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
}

.Download-button:hover {
  background-color: #1877f2;
  box-shadow: 0px 2px 20px 0px #1877f2;  
}
