.Script {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Text-input {
  flex-grow: 1;
}

.Animate-button {
  background-color: #1877f2;
  border: none;
  border-radius: 10px;
  color: inherit;
  font-family: inherit;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.Animate-button:hover {
  background-color: #267ff2;
}
