.Settings {
  box-sizing: border-box;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-color: var(--second-background-color);
  border-radius: var(--first-border-radius);
  font-size: 25px;
}

.Row {
  display: flex;
  justify-content: space-between;
}

.Settings select {
  width: 150px;
  text-align: center;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Settings option {
  color: black;
}

.Range {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.Range input {
  width: 100px;
}
