.Settings {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--second-background-color);
  border-radius: var(--first-border-radius);
}
