.Text-input {
  background-color: #1b2530; /* #19232c */
  border: 2px solid transparent;
  border-radius: 24px;
  color: inherit;
  font-size: 27px;
  font-family: inherit;
  resize: none;
  padding: 0.8em 1em;
}

.Text-input:focus {
  border: 2px solid #1877f2;
  outline: none;
}
