/* 
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Michroma&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Jura&family=Michroma&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Jura:wght@700&family=Michroma&family=Titillium+Web&display=swap');
@import url('http://fonts.cdnfonts.com/css/eurostile-extended'); 
@font-face {
  font-family: 'MyFont';
  src: url(./Blender-Pro-Bold.otf);
}
*/

.TextInput {
  resize: none;
  background-color: #1b2530; /* #19232c */
  border: 2px solid #1877f2;
  border-radius: 24px;
  color: #ffffff;
}

.TextInput:hover {
  box-shadow: 0px 4px 20px 0px #1877f2; /* #0061fe rgb(0 82 255) dodgerblue */
}

.TextInput:focus {
  outline: none;
}
