.TextInput {
  background-color: #1b2530; /* #19232c */
  border: none;
  border-radius: 24px;
  color: inherit;
  font-size: 27px;
  font-family: 'Blender Pro';
  resize: none;
  padding: 0.8em 1em;
}

.TextInput:hover {
  border: 2px solid #1877f2;
  box-shadow: 0px 4px 20px 0px #1877f2; /* #0061fe rgb(0 82 255) dodgerblue */
}

.TextInput:focus {
  border: 2px solid #1877f2;
  box-shadow: 0px 4px 20px 0px #1877f2;
  outline: none;
}
